@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family:'Noto Sans', sans-serif;
    line-height: 1.7;
    color: aliceblue;
}

.navbar {
    width: 100%;
    height: 78px;
    background: white;
}


.menu-wrapper .nav-link {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    color: #2E2E2E;
}

.menu-wrapper .nav-link:hover, 
.menu-wrapper .nav-link:active {
    color: rgb(0, 0, 0);
}

.menu-wrapper .active {
    color: #DC0000 !important;
}

.top-nav {

    background-color: #0B2050;
    padding-top: 5px;
    height: 45px;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: white;
}

.top-nav i, .top-nav span {
    vertical-align: middle;
}

.social-links {
    color: white;
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
}


.social-links img {
    margin: 12px;
    height: 15px;
}

.social-links a:hover {
    background-color: white;
}


.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: darkblue;
}

.navbar-brand span {
    color: salmon;
}

.carousel-indicators button {
    width: 17px !important;
    height: 10px !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 4px;
}

.custom-indicator .active{
    background: #DC0000 !important;
}

.carousel-caption-top .carousel-head {
    color: #DC0000 !important;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.60px;
}

.carousel-caption-top .secondary-head {
    color: white;
    max-width: 1090px;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.60px;
}

.carousel-caption-top .carousel-caption {
    font-size: 48px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    left: unset !important;
    right: unset !important;
}

.carousel-caption-top .carousel-caption p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.60px;
    max-width: 861px;
}

.carousel-inner img {
    background: linear-gradient(rgba(0,0,0,0.25)rgba(0,0,0,0.12));
    width: 100%;
    height: calc(100vh - 120px);
}

.aboutus {
    color: #2E2E2E;
    padding-top: 144px;
    padding-bottom: 110px;
}

.aboutus h2 {
    font-size: 48px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.aboutus p {
    color: #2E2E2E;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.20px;
}

.aboutus ol {
    padding-left: 1rem !important;
}

.aboutus-child {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    max-height: 364px;
}

.aboutus-child-img img {
    max-width: 100%;
    height: auto;
}

.aboutus-child .btn {
    width: 145px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: #DC0000;
    padding: 10px;
}


#services {
    color: white;
    background: linear-gradient(rgba(13, 120, 191, 0.911),rgba(11, 148, 239, 0.976)), url(../images/worldmap.png) no-repeat;
    padding-top: 134px;
    padding-bottom: 96px;
}

.custom-service {
    padding: 30px;
    text-align: center;
    background-color: white;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-service h4 {
    margin-top: 15px;
    font-size: 20px;
}

.custom-service p {
    color: #2E2E2E;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 22.50px;
    letter-spacing: 0.45px;
    flex-grow: 1;
}

.custom-service a {
    color: #DC0000;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-decoration: unset !important;
    margin-top: auto;
}

.custom-service img{
    max-width: 50px;
    height: auto;
}

.service {
    margin-bottom: 40px;
    text-align: center;
}

.service h1 {
    font-weight: 600;
    text-align: center;
    font-size: 48px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
}

.service p {
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 30.60px;
}

.service a {
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 30.60px;
}

.partners {
    padding-top: 113px;
    padding-bottom: 160px;
}

.partners h3 {
    font-family: 'Noto Sans', sans-serif;
    color: #2E2E2E;
    font-size: 48px;
    font-weight: 600;
}

.clients {
    padding-top: 30px;
    padding-bottom: 117px;
    display: flex;
}

.clients p {
    color: #2E2E2E;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 22.50px;
    margin-bottom: unset !important;
    padding-left: 32px;
    max-width: 426px;
}

.clients .clients-p {
    padding-left: 8px;
    padding-top: 15px;
}

.client-logo {
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contact-us {
    background: url(../images/contactus.png) center/cover no-repeat;
    padding-top: 51px;
    padding-bottom: 86px;
}

.contact-us .container {
    max-width: 850px;
}

.contact-us h2 {
    padding-bottom: 70px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 48px;
}

.contact-us .form-control {
    color: #828282;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    height: 55px;
}

.contact-us button {
    margin-top: 30px;
    width: 145px;
    height: 50px;
    background: #DC0000;
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

/* .contact-us button button:hover {
    background: #DC0000;
} */

.col-6 {
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    background: linear-gradient(rgba(1, 132, 220, 0.911),rgba(0, 110, 183, 0.976)), url(../images/worldmap.png) no-repeat center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 93px;
    padding-bottom: 30px;
}

.footer .logo {
    padding-bottom: 34px !important;
}

.footer img {
    padding-bottom: 10px;
    padding-right: 10px;
}

.footer h5 {
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.45px;
    margin-bottom: 17px;
}

.footer a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.40px;
    margin-bottom: 12px;
    text-decoration: unset !important;
}

.footer .footer-contactus p{
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 27.20px;
    letter-spacing: 0.40px;
}

.footer .footer-contactus h6{
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.45px;
}

.footer .footer-copyright {
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.40px;
}

.footer-map, .footer-mail, .footer-phone {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
}